@import "tailwindcss";

:root {
  --base-light: #F5F5F5;
  --base-dark: #000000;
  --n-100: #F5F5F5;
  --n-200: #EFEFEF;
  --n-300: #D4D4D4;
  --n-400: #A2A2A2;
  --n-500: #000000;
  --accent: #F5F5F5;

  --font-primary: var(--font-anton);
  --font-secondary: var(--font-archivo);

  
}

@theme inline {
  --color-background: var(--base-light);
  --color-foreground: var(--base-dark);
  --font-primary: var(--font-anton);
  --font-secondary: var(--font-archivo);
}

body {
  background-color: var(--base-light);
  font-family: var(--font-primary, --font-secondary);
}


